:root {
  --main-red: hsl(14, 86%, 42%);
  --alt-red: hsl(14, 85%, 32%);

  --main-green: hsl(159, 69%, 38%);

  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);

  --project-transition: ease-in 0.1s;
}

html,
body,
.app {
  min-height: 100dvh;
  font-size: 1rem;
  font-family: "Red Hat Text", sans-serif;
  /* 400, 600, 700 */

  background-color: var(--rose-100);

  touch-action: manipulation;
}

img,
svg,
button {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

img,
svg {
  pointer-events: none;
}

.hidden {
  display: none !important;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  width: 100%;
  min-height: 100%;

  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
}

.modal-backdrop {
  inset: 0;

  background-color: black;
  opacity: 0.5;
  position: absolute;

  z-index: 2;
}

.app {
  display: flex;
  justify-content: center;

  column-gap: 2rem;

  padding: 4rem 0;
}

/*

MAIN 

*/

.main-container {
  display: flex;
  flex-direction: column;
}

.main-section {
  display: flex;
  flex-direction: column;
}
.section-heading {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--rose-900);

  margin-bottom: 2rem;
}
.section-list {
  display: grid;
  grid-template-columns: repeat(3, 12rem);

  gap: 2rem;
}
/* .section-list-item {
} */
.list-item-image-container {
  position: relative;
}
.list-item-image {
  border-radius: 1rem;

  border: 0.15rem transparent solid;

  transition: var(--project-transition);
}

.item-image-selected {
  border-color: var(--main-red);
}

.list-item-cta-passive,
.list-item-cta-active {
  width: 70%;
  height: 2.5rem;

  display: flex;
  align-items: center;

  overflow: hidden;

  border: 0.1rem var(--rose-400) solid;
  border-radius: 999rem;

  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list-item-cta-passive {
  justify-content: center;
  gap: 0.5rem;

  background-color: var(--rose-50);
  transition: var(--project-transition);
}

.list-item-cta-passive:active {
  border-color: var(--main-red);
}

.list-item-cta-passive p {
  color: var(--rose-900);
  font-weight: 600;
  font-size: 0.8rem;

  transition: var(--project-transition);
}

.list-item-cta-passive:active p {
  color: var(--main-red);
}

.list-item-cta-active {
  justify-content: space-between;
  padding: 0 1rem;

  background-color: var(--main-red);
}

.list-item-cta-active p {
  color: var(--rose-100);
}

.list-item-cta-active button {
  width: 1.2rem;
  height: 1.2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 0.1rem var(--rose-100) solid;
  border-radius: 999rem;

  transition: var(--project-transition);
}

.list-item-cta-active svg {
  width: 0.6rem;
  height: 0.6rem;
}

.list-item-cta-active button:active {
  scale: 0.95 !important;
  background-color: var(--rose-100);
}

.list-item-cta-active button:active svg path {
  fill: var(--main-red);
}

.list-item-description-container {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  gap: 0.7rem;
}
.list-item-tag {
  color: var(--rose-500);
}
.list-item-title {
  color: var(--rose-900);
  font-weight: 900;
}
.list-item-price {
  color: var(--main-red);
  font-weight: 600;
}

/*

ASIDE 

*/

.aside-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart {
  width: 22.5rem;
  padding: 2rem 1.5rem;

  border-radius: 1rem;

  background-color: var(--rose-50);
}
.cart-quantity {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--main-red);

  text-transform: capitalize;
}
.cart-empty-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 2rem;
}

.cart-empty-container img {
  margin-bottom: 1rem;
}

.cart-empty-container p {
  font-size: 0.8rem;
  font-weight: 600;

  color: var(--rose-500);
}

.cart-content-container {
  margin-top: 1rem;
}

.cart-list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  margin-bottom: 2rem;
}
.cart-order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 1rem;

  border-bottom: 0.05rem var(--rose-300) solid;
}

.order-item-info {
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
}

.order-item-info h4 {
  color: var(--rose-900);
  font-weight: 600;
}

.order-item-stats {
  display: flex;
}
.order-item-quantity {
  color: var(--main-red);
  font-weight: 600;
  margin-right: 1rem;
}
.order-item-single {
  color: var(--rose-500);

  margin-right: 0.5rem;
}
.order-item-total {
  color: var(--rose-500);

  font-weight: 600;
}

.order-item-cta {
  height: 1.2rem;
  width: 1.2rem;
  padding: 0.2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 0.1rem var(--rose-300) solid;
  border-radius: 999rem;

  transition: var(--project-transition);
}

.order-item-cta:active {
  scale: 0.95 !important;
  border-color: var(--rose-500);
}

.order-item-cta svg {
  height: 0.6rem;
  width: 0.6rem;
}

.order-item-cta:active svg path {
  fill: var(--rose-500);
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1.5rem;
}

.cart-total p {
  color: var(--rose-900);
}

.cart-total span {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--rose-900);
}

.cart-message {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem 0.5rem;

  color: var(--rose-900);

  background-color: var(--rose-100);
  border-radius: 0.5rem;

  margin-bottom: 1.5rem;

  white-space: nowrap;
}

.cart-message img {
  margin-right: 0.5rem;
}

.cart-message span {
  font-weight: 600;
}

.cart-cta {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem 0;

  width: 100%;

  border-radius: 999rem;

  color: var(--rose-50);
  font-weight: 600;
  text-transform: capitalize;

  background-color: var(--main-red);

  transition: var(--project-transition);
}

.cart-cta:active {
  scale: 0.95 !important;
  background-color: var(--alt-red);
}

/*

CONFIRM MODAL 

*/

.confirm-order-container {
  width: 33rem;
  padding: 2rem;

  border-radius: 0.5rem;

  z-index: 3;

  background-color: var(--rose-50);
}

.confirm-order-container > img {
  margin-bottom: 1.5rem;
}

.confirm-order-container > h3 {
  font-size: 2.5rem;
  font-weight: 700;

  color: var(--rose-900);
  text-transform: capitalize;

  margin-bottom: 1rem;
}

.confirm-order-container > p {
  color: var(--rose-400);

  margin-bottom: 1.5rem;
}

.confirm-order-summary {
  padding: 1rem 1.5rem;

  border-radius: 0.5rem;

  background-color: var(--rose-100);
}

.confirm-order-list {
  margin-bottom: 1rem;

  max-height: 15rem;

  overflow-y: scroll;
}

.confirm-order-list::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}

.confirm-order-list::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: var(--rose-500);
}

.confirm-order-list::-webkit-scrollbar-button {
  display: none;
}

.confirm-order-list-item {
  display: flex;
  align-items: center;

  padding: 1rem 0.5rem 1rem 0;

  border-bottom: 0.05rem var(--rose-300) solid;
}

.confirm-order-list-item img {
  width: 3rem;

  align-self: center;

  margin-right: 1rem;

  border-radius: 0.25rem;
}

.confirm-order-list-item > span {
  margin-left: auto;
}

.confirm-order-container .cart-total {
  margin: 2rem 0 1rem 0;
}

.confirm-order-container > button {
  margin-top: 2rem;
}

/*

ADAPTIVE

*/

@media (max-width: 1150px) {
  .section-list {
    grid-template-columns: repeat(2, 11rem);
  }

  .cart {
    padding: 2rem 1rem;
  }
}

@media (max-width: 810px) {
  .section-list {
    grid-template-columns: repeat(1, 14rem);
  }

  .aside-bar {
    width: 20rem;
  }

  .cart {
    width: 18rem;

    position: fixed;
  }
}

@media (max-width: 640px) {
  .modal {
    align-items: end;
  }

  .app {
    flex-direction: column;
    column-gap: 0;
    padding: 2rem 10vw;
    align-items: center;
    row-gap: 2rem;
  }

  .section-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .list-item-cta-passive,
  .list-item-cta-active {
    height: 2.5rem;
  }

  .list-item-description-container {
    padding-top: 4rem;
  }

  .aside-bar {
    width: 100%;
  }

  .cart {
    width: 100%;

    position: static;
  }

  .cart-message {
    font-size: 0.8rem;
  }

  .confirm-order-container {
    width: 100%;

    max-height: 85dvh;
  }

  .confirm-order-list {
    max-height: 27dvh;
  }
}

@media (max-width: 520px) {
  .confirm-order-container {
    padding: 2rem 1rem;
  }

  .order-item-info {
    max-width: 55%;
  }

  .order-item-info h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 420px) {
  .list-item-cta-passive,
  .list-item-cta-active {
    width: 10rem;
  }

  .list-item-description-container {
    padding-top: 2rem;
  }
}

@media (max-width: 350px) {
  .cart-message {
    font-size: 0.7rem;
  }
}

@media (max-height: 720px) {
  .confirm-order-container {
    overflow-y: scroll;
  }
}

@media (hover: hover) {
  .list-item-cta-passive:hover {
    border-color: var(--main-red);
  }

  .list-item-cta-passive:hover p {
    color: var(--main-red);
  }

  .list-item-cta-active button:hover {
    scale: 1.05;
  }

  .order-item-cta:hover {
    scale: 1.05;
    border-color: var(--rose-500);
  }

  .order-item-cta:hover svg path {
    fill: var(--rose-500);
  }

  .cart-cta:hover {
    scale: 1.05;
  }
}
