:root {
  --main-red: hsl(14, 86%, 42%);
  --main-green: hsl(159, 69%, 38%);

  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);
}

html,
body,
.app {
  min-height: 100dvh;
  font-size: 1rem;
  font-family: "Red Hat Text", sans-serif;
  /* 400, 600, 700 */

  background-color: var(--rose-100);
}

.modal {
  width: 100%;
  height: 100%;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;

  background-color: var(--rose-900);
  opacity: 0.2;
}

.app {
  display: flex;
  justify-content: center;

  column-gap: 2rem;

  padding: 4rem 0;
}

/*

MAIN 

*/

.main-container {
  display: flex;
  flex-direction: column;
}

.main-section {
  display: flex;
  flex-direction: column;
}
.section-heading {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--rose-900);

  margin-bottom: 2rem;
}
.section-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 2rem;
}
.section-list-item {
  /* display: flex;
  flex-direction: column; */

  width: 15vw;
}
.list-item-image-container {
  position: relative;
}
.list-item-image {
  border-radius: 1rem;
}

.list-item-cta-passive,
.list-item-cta-active {
  width: 70%;
  height: 2.5rem;

  display: flex;
  align-items: center;

  overflow: hidden;

  border: 0.1rem var(--rose-400) solid;
  border-radius: 999rem;

  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list-item-cta-passive {
  justify-content: center;
  gap: 0.5rem;

  background-color: var(--rose-50);
}

.list-item-cta-passive p {
  color: var(--rose-900);
  font-weight: 600;
  font-size: 0.8rem;
}

.list-item-cta-active {
  justify-content: space-between;
  padding: 0 1rem;

  background-color: var(--main-red);
}

.list-item-cta-active p {
  color: var(--rose-100);
}

.list-item-cta-active button {
  padding: 0.2rem;

  border: 0.1rem var(--rose-100) solid;
  border-radius: 999rem;
}

.list-item-cta-active img {
  width: 0.6rem;
  height: 0.6rem;
}

.list-item-description-container {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  gap: 0.7rem;
}
.list-item-tag {
  color: var(--rose-500);
}
.list-item-title {
  color: var(--rose-900);
  font-weight: 900;
}
.list-item-price {
  color: var(--main-red);
  font-weight: 600;
}

/*

ASIDE 

*/

.aside-bar {
  display: flex;
  flex-direction: column;
}
.cart {
  width: 22.5rem;
  padding: 2rem 1.5rem;

  border-radius: 1rem;

  background-color: var(--rose-50);
}
.cart-quantity {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--main-red);

  text-transform: capitalize;
}
.cart-empty-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 2rem;
}

.cart-empty-container img {
  margin-bottom: 1rem;
}

.cart-empty-container p {
  font-size: 0.8rem;
  font-weight: 600;

  color: var(--rose-500);
}

.cart-list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  margin-top: 1rem;
  margin-bottom: 2rem;
}
.cart-order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 1rem;

  border-bottom: 0.05rem var(--rose-300) solid;
}

.order-item-info {
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
}

.order-item-info h4 {
  color: var(--rose-900);
  font-weight: 600;
}

.order-item-stats {
  display: flex;
}
.order-item-quantity {
  color: var(--main-red);
  font-weight: 600;
  margin-right: 1rem;
}
.order-item-single {
  color: var(--rose-500);

  margin-right: 0.5rem;
}
.order-item-total {
  color: var(--rose-500);

  font-weight: 600;
}

.order-item-cta {
  height: 1rem;
}

.order-item-cta img {
  padding: 0.2rem;
  border: 0.1rem var(--rose-400) solid;
  border-radius: 999rem;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1.5rem;
}

.cart-total p {
  color: var(--rose-900);
}

.cart-total span {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--rose-900);
}

.cart-message {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem 0.5rem;

  color: var(--rose-900);

  background-color: var(--rose-100);
  border-radius: 0.5rem;

  margin-bottom: 1.5rem;
}

.cart-message img {
  margin-right: 0.5rem;
}

.cart-message span {
  font-weight: 600;
}

.cart-cta {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem 0;

  width: 100%;

  border-radius: 999rem;

  color: var(--rose-50);
  font-weight: 600;
  text-transform: capitalize;

  background-color: var(--main-red);
}
